.bg-1 {
    background-color: #fd7e2449;
  }
  
  .bg-2 {
    background-color: #4591c451;
  }
  
  .bg-3 {
    background-color: #9acc5035;
  }
  
  .bg-4 {
    background-color: #eed5354a;
  }
  
  .bg-5 {
    background-color: #f366b847;
  }
  
  .bg-6 {
    background-color: #51c4e73e;
  }
  
  .bg-7 {
    background-color: #7338f23b;
  }
  
  .bg-8 {
    background-color: #70707035;
  }
  
  .bg-9 {
    background-color: #fdb9e93c;
  }
  
  .bg-10 {
    background-color: #a8a87841;
  }
  
  .bg-fighting {
    background-color: #c03028;
  }
  
  .bg-poison {
    background-color: #a040a0;
  }
  
  .bg-ground {
    background-color: #e0c068;
  }
  
  .bg-rock {
    background-color: #b8a038;
  }
  
  .bg-ghost {
    background-color: #705898;
  }
  
  .bg-steel {
    background-color: #b8b8d0;
  }