

<div class="w-full h-auto mt-5 flex items-center justify-center mb-5">

    <div  *ngIf="res.previous" (click)="onClick(res.previous)" class="w-20 h-10 flex items-center justify-center text-white text-xl mr-3 rounded-lg cursor-pointer bg-blue-300 hover:bg-blue-400 ease-in duration-100 ">
        <p>Prev</p>

    </div>


    <button (click)="onClick(res.next)" *ngIf="res.next" class="w-20 h-10 flex items-center justify-center text-white text-xl rounded-lg cursor-pointer bg-red-300 hover:bg-red-400 ease-in duration-100">
        <p>Next</p>

    </button>

</div>



<div *ngIf="!pokemons" class="flex items-center justify-center h-screen">
    <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-900"></div>
  </div>


  
  <!-- <div *ngIf="pokemons" class="flex flex-wrap justify-center ">
    <div class="font-mono font-thin p-4 w-56 h-80 text-gray-700 " *ngFor="let pokemon of pokemons">
      <div class="max-w-xs rounded overflow-hidden shadow-lg h-full flex flex-col items-center justify-center bg-{{getRandom()}} cursor-pointer hover:scale-105 transition-transform">
        <img class="w-32 h-32 md:w-full md:h-40 object-contain" [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + pokemon.url.split('/')[6] + '.png'" alt="{{ pokemon.name }} image">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 capitalize w-full flex items-center justify-center"><p>{{ pokemon.name }}</p></div>
        </div>
      </div>
    </div>
  </div>
   -->

  <div *ngIf="pokemons" class="flex flex-wrap justify-center sm:flex-row">
    <div class="font-mono font-thin p-4 w-56 h-80 text-gray-700  " *ngFor="let pokemon of pokemons">
      <div class="max-w-xs rounded overflow-hidden shadow-lg h-full flex flex-col items-center justify-center bg-{{getRandom()}} cursor-pointer hover:scale-105 transition-transform">
        <img class="w-32 h-32 md:w-full md:h-40 object-contain" [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + pokemon.url.split('/')[6] + '.png'" alt="{{ pokemon.name }} image">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 capitalize w-full flex items-center justify-center"><p>{{ pokemon.name }}</p></div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- //BOTTOM NAV -->

  <div class="w-full h-auto mt-5 flex items-center justify-center mb-5">

    <div  *ngIf="res.previous" (click)="onClick(res.previous)" class="w-20 h-10 flex items-center justify-center text-white text-xl mr-3 rounded-lg cursor-pointer bg-blue-300 hover:bg-blue-400 ease-in duration-100 ">
        <p>Prev</p>

    </div>


    <button (click)="onClick(res.next)" *ngIf="res.next" class="w-20 h-10 flex items-center justify-center text-white text-xl rounded-lg cursor-pointer bg-red-300 hover:bg-red-400 ease-in duration-100">
        <p>Next</p>

    </button>

</div>

<footer class="font-mono text-lg md:text-2xl font-bold bg-gray-800 text-white text-center py-4">
    <p class="text">Made By Rexetorize</p>
</footer>
